<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zach.memorygame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homePage"
            android:theme="@style/cartoon_HomePage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".level_select"
            android:label="Level Select"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".levels"
            android:label="level"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S1L1"
            android:label="Stage 1 Level 1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S1L2"
            android:label="Stage 1 Level 2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S1L3"
            android:label="Stage 1 Level 3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S1L4"
            android:label="Stage 1 Level 4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S2L1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S2L2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S2L3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".S2L4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".S3L1" />
        <activity android:name=".S3L2" />
        <activity android:name=".S3L3" />
        <activity android:name=".S3L4"></activity>
    </application>

</manifest>